.user-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border: 1.5px solid #ccc;
    border-radius: 8px;
    background-color: #ebecf8bf;
}

h2 {
    margin: 0;
}

.btn {
    padding: 0.4rem 0.7rem;
    border: 1px solid #ccc;
    background-color: rgb(60, 62, 115);
    border-radius: 6px;
    color: #ebecf8;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(43, 46, 93);
}
